# Node
client/node_modules/
client/dist/
client/.env.local
client/.env

# Dotnet
api/bin/
api/obj/
Portfolio.ServiceDefaults/bin/
Portfolio.ServiceDefaults/obj/
Portfolio.AppHost/bin/
Portfolio.AppHost/obj/

# OS
.DS_Store
