/* Dark Blue: #12232E
Lighter Blue: #007CC7
Lightest Blue: #4DA8DA
Shadow of Dark Blue: #203647
Shadow of Light Blue: #EEFBFB
*/

/*
Blackish: #202020
Dark Grey: #3F3F3F
Medium Grey: #707070
Egg Yellow: #FFDF6C
White: #FFFFFF
*/

// Custom.scss
// Option A: Include all of Bootstrap

$primary: #2b668ac5;
$secondary: #007cc7;
$warning: #4da8da;

@import 'bootstrap/scss/bootstrap';
@import './wave';
@import './timeline';

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  background-color: rgb(216, 216, 216);
}

.skill-box {
  position: relative;
  padding: 20px 30px;
  margin: 40px 40px;
  transition: ease-in-out 0.3s;
  box-shadow: 0 2px 1px $primary;
  //   border-bottom: 1px dotted $primary;
  //   border-radius: 20% 0%;
  max-width: 250px;
}

.skill-icon {
  position: absolute;
  top: -35px;
  left: -35px;
  opacity: 0.6;
  color: $primary;
}

#main-header {
  background-image: url(/img/background.jpg);
  background-size: cover;
  background-position: center;
}

.content {
  background-image: url(/img/circuit.png);
  background-repeat: no-repeat;
  background-position: right;
}

// .clip-bacground {
//   position: absolute;
//   background-color: tan;
//   width: 100%;
//   height: 50vh;
//   z-index: -1;
//   clip-path: polygon(18% 30%, 38% 50%, 19% 71%, 0% 50%);
// }

// Additional custom styles
#main-header img {
  width: 100%;
  height: 100%;
}

.bg-black {
  background-color: black;
}

#main-header .port-item {
  width: 30%;
}

#main-header .port-item:hover {
  opacity: 0.7;
  cursor: pointer;
}

.skill-logo {
  height: 100%;
  width: 100%;
}

.company-logo {
  border-radius: 50%;
}

/*--------------------------------------------------------------
# Resume
--------------------------------------------------------------*/
.resume .resume-title {
  font-size: 26px;
  font-weight: 700;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #050d18;
}

.resume .resume-item {
  padding: 0 0 20px 20px;
  margin-top: -2px;
  border-left: 2px solid #1f5297;
  position: relative;
}

.resume .resume-item h4 {
  line-height: 18px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
  color: #050d18;
  margin-bottom: 10px;
}

.resume .resume-item h5 {
  font-size: 16px;
  background: #e4edf9;
  padding: 5px 15px;
  display: inline-block;
  font-weight: 600;
  margin-bottom: 10px;
}

.resume .resume-item ul {
  padding-left: 20px;
}

.resume .resume-item ul li {
  padding-bottom: 10px;
}

.resume .resume-item:last-child {
  padding-bottom: 0;
}

.resume .resume-item::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50px;
  left: -9px;
  top: 0;
  background: #fff;
  border: 2px solid #1f5297;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}
